[user]
    name = Vasily Tsybenko
    email = vasayxtx@gmail.com

[color]
    ui = true

[push]
    default = simple

[alias]
    h = help
    ch = checkout       # Checkout to existing branch
    chb = checkout -b   # Create new branch and checkout to it
    b = branch          # Show all branches
    hist = log --pretty=format:'%Cred%h%Creset %ad | %Cgreen%s%d%Creset [%an]' --graph --date=local
    st = status -sb
    f = fetch
    c = commit
    ca = commit --amend
    a = add
    ph = push
    pl = pull
    s = show

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[init]
    defaultBranch = master
